@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain antialiased;
    font-family: 'Inter', system-ui, sans-serif;
    overflow-x: hidden;
  }
}

/* Scrollbar Customizada (Neon) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3A86FF;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00F0FF;
}

/* Utilitário para os Cards Premium */
.glass-panel {
  @apply bg-surface/70 backdrop-blur-xl border border-white/5 rounded-2xl shadow-xl shadow-black/50;
}
